*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.NavBar{
    height: 10vh;
    width: 100vw;
    background-color: aquamarine;
    color: yellow;
}