*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}
/*Nav Bar*/
.nav{
    height:13%;
    width:100%;
    display: flex;
    align-items: center;
}
.logo{
    height: 100%;
    width: 50%;
    padding-left: 3.5%;
    padding-top: 2.75%;
     
}
.logo h1{
    display: inline-block;
    font-size: 5.5vh;
     transition: all 0.5s ease-in-out;
      transform-origin: center;
      white-space: nowrap;
}
.nav h1 span{
    color:rgb(5, 236, 146);
    margin-left: -0.7vw;
}

.nav h1:hover{
    /* font-size: 4.7vh;*/
   transform: scale(0.9);
    color: rgba(0, 0, 0, 0.5);
}

/*Nav Part 2*/
.nav-p2{
    width: 45%;   
    display: flex;
    justify-content: space-around;
}
.nav-p2 a {
    text-decoration: none;
    color: black;
    font-size: 2.6vh;
    padding-top: 2.9vw;
    font-family: ARIAL;
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease, color 0.3s ease;
}

.nav-p2 a:hover {
    border-bottom-color: rgb(5, 236, 146); /* only color changes, no layout shift */
}

/*
.nav-p2 a:hover{
    border-bottom: 2px solid rgb(5, 236, 146);
}
*/

.nav-p3{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    padding-right: 3%;
}
.nav-p3 button{
    width: 97%;
    height: 50%;
    padding: 0.3vw 0.3vw 0.3vw 0.3vw;
    font-size: 2.9vh; 
    border: 1px solid rgba(0, 0, 0, 0.5);   
    background-color: transparent;
    border-radius: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-p3 button {
    position: relative; 
    overflow: hidden; 
    color: black; 
    z-index: 1; 
    transition: color 0.5s ease-in-out; 
    border: 1px solid black;
    background-color: transparent;
    padding: 10px 20px;
}

.nav-p3 button::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background-color: rgb(5, 236, 146); 
    z-index: -1; 
    transition: width 0.5s ease-in-out; 
}
.nav-p3 button:hover::before {
    width: 100%;
}

/*Hero Section*/
.H-Sec{
width: 100%;
height: calc( 100% - 13% );
position: relative;
}
.H-Sec h1{
width:60%;
height: 20%;
font-size: 4.5vw;
text-align: center;
left: 20%;
top: 8%;
font-family: ARIAL;
position: absolute;
z-index: 10;
line-height: 1.2;
}
.img-1 img{
    height: 30vw;
    width: 21vw;
    position: absolute;  
    z-index: 1;
    top: 20%;
    left: 6%; 
}
.img-2 img{
    height: 16vw;
    width: 18vw;
    position: absolute; 
    z-index: 2;
    top: 18%;
    left: 58%;
}
.img-3 img{
    position: absolute;
    height: 16vw;
    width: 16vw;
    z-index: 3;
    top: 35%;
    left: 75%;
}
.img-1 img:hover{
    top: 19%;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
}
.img-2 img:hover{
    top: 17%;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
}
.img-3 img:hover{
    top: 34%;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
}