*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}
/*Nav Bar*/
.nav{
    height:13%;
    width:100%;
    display: flex;
    align-items: center;
}
.logo{
    height: 100%;
    width: 50%;
    padding-left: 3.5%;
    padding-top: 2.75%;
     
}
.logo h1{
    display: inline-block;
    font-size: 5.5vh;
     transition: all 0.5s ease-in-out;
      transform-origin: center;
      white-space: nowrap;
}
.nav h1 span{
    color:rgb(5, 236, 146);
    margin-left: -0.7vw;
}

.nav h1:hover{
    /* font-size: 4.7vh;*/
   transform: scale(0.9);
    color: rgba(0, 0, 0, 0.5);
}

/*Nav Part 2*/
.nav-p2{
    width: 45%;   
    display: flex;
    justify-content: space-around;
}
.nav-p2 a {
    text-decoration: none;
    color: black;
    font-size: 2.6vh;
    padding-top: 2.9vw;
    font-family: ARIAL;
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease, color 0.3s ease;
}

.nav-p2 a:hover {
    border-bottom-color: rgb(5, 236, 146); /* only color changes, no layout shift */
}

/*
.nav-p2 a:hover{
    border-bottom: 2px solid rgb(5, 236, 146);
}
*/

.nav-p3{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    padding-right: 3%;
}
.nav-p3 button{
    width: 97%;
    height: 50%;
    padding: 0.3vw 0.3vw 0.3vw 0.3vw;
    font-size: 2.9vh; 
    border: 1px solid rgba(0, 0, 0, 0.5);   
    background-color: transparent;
    border-radius: 1.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-p3 button {
    position: relative; 
    overflow: hidden; 
    color: black; 
    z-index: 1; 
    transition: color 0.5s ease-in-out; 
    border: 1px solid black;
    background-color: transparent;
    padding: 10px 20px;
}

.nav-p3 button::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background-color: rgb(5, 236, 146); 
    z-index: -1; 
    transition: width 0.5s ease-in-out; 
}
.nav-p3 button:hover::before {
    width: 100%;
}

/*Hero Section*/
.H-Sec{
width: 100%;
height: calc( 100% - 13% );
position: relative;
}
.H-Sec p{
width:60%;
height: 20%;
font-size: 4.5vw;
text-align: center;
left: 20%;
top: 8%;
font-family: Arial, Helvetica, sans-serif;
font-weight: -900;
position: absolute;
z-index: 10;
line-height: 1.2;
margin-top: 22vh;
}
.H-Sec p::selection{
    color:rgb(5, 236, 146) ;
    background-color:rgb(240, 255, 250) ;
}
.img-1 img{
    height: 65vh;
    width: 20vw;
    position: absolute;  
    z-index: 1;
    top: 14%;
    left: 6%; 
    transition: all 0.4s ease-in-out;
}
.img-2 img{
    height: 35vh;
    width: 19.5vw;
    position: absolute; 
    z-index: 2;
    top: 12%;
    left: 54.5%;
    transition: all 0.4s ease-in-out;
}
.img-3 img{
    position: absolute;
    height: 37.5vh;
    width: 17vw;
    z-index: 3;
    top: 43%;
    left: 75%;
    transition: all 0.4s ease-in-out;
}
.img-1 img:hover{
    transform: translateY(-10px);
}
.img-2 img:hover{
    transform: translateY(-10px);
}
.img-3 img:hover{
    transform: translateY(-10px);
}
.lastbtn{
    position: relative;
    height: 10hv;
    width: 20vw;
    left: 41%;
    top: 65%;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;

}
.lastbtn::selection{
    color:rgb(5, 236, 146) ;

}
.lastbtn a{
    text-decoration: none;
    color: black;
}
.lastbtn button {
width: 5vw;
height: 6vh;
border: 0.1px solid black;
border-radius: 1.5vw;
background-color: transparent;
font-size: 2.5vw;
margin-top: 2vh;
}
#btn{
    transform: translateY(9px);
    overflow: hidden;
}
#btn::before{
    content: "";
    height: 100%;
    width: 0;
    top: 0%;
    left: 0%;
    background-color: rgb(5, 236, 146);
    position:absolute;
    transition: width 0.5s linear;
    z-index: -1;
    

}
#btn:hover::before{
    width: 100%;
    
}
    